.product-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shodow 0.2s;
    max-width: 300px;
    margin: auto;
}

.product-card:hover {
    box-shadow: 0 8px 25px rgb(0, 0, 0, 0.15);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 1.5rem;

}

.product-info h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sale-badge {
    background: #ff4757;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.7rem;
    font-weight: bold;
}

.price-container {
    font-size: 1.5rem;
}

.original-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.sale-price {
    color: red;
    font-weight: bold;
}

.btn-add-to-cart {
    background: #d6b202;
    width: 10rem;
    height: 2rem;
    border-radius: 12px;
    color: #333;
    border: none;
    box-shadow: 0 8px 25px rgb(0, 0, 0, 0.15);
    margin-top: 0.5rem;
}

.btn-add-to-cart:hover {
    color: white;
    background: #333;
    transition: transform 0.2s, box-shodow 0.2s;
}